<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POSV1._9.Properties.Settings.db_posConnectionString"
            connectionString="Data Source=WIN-NKF4P1JLCQQ\SQLEXPRESS;Initial Catalog=db_pos;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>